<form (ngSubmit)="search()">
  <fieldset>
    <legend>Date Range</legend>

    <label for="startDate">Start Date</label>
    <input
      type="date"
      id="startDate"
      [formControl]="filters.controls.startDate"
    />

    <label for="endDate">End Date</label>
    <input type="date" id="endDate" [formControl]="filters.controls.endDate" />

    <button>Search</button>
  </fieldset>
</form>

<div>Status: {{ dashboardQuery.status() }}</div>
<div>Data: {{ dashboardQuery.data() }}</div>

<angular-query-devtools initialIsOpen />
